body {
    font-family: Arial, sans-serif;
}

h1 {
    color: hotpink;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}