.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: hotpink;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: xxx-large;
}

h2 {
    color: black;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.house-list {
    list-style-type: disc;
    padding: 0;
    margin-left: 1rem;
    text-align: left;
}

li {
    margin: 10px;
}

.info {
    text-align: left;
}

.info h1 {
    margin-left: 1rem;
}

table {
    width: 30rem; /* Keep the table width */
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 10px; /* Increase the padding for more space */
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

th:nth-child(1), td:nth-child(1) {
    width: 5rem; /* Set the width of the fields column */
}

th:nth-child(2), td:nth-child(2) {
    width: 5rem; /* Set the width of the values column */
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-link {
    text-decoration: none;
    margin: 0 10px;
}

form {
    margin: 10px 10px;
}

.sub{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sub:hover {
    background-color: #45a049;
}

button {
    background-color: hotpink; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9d174d;
}

.houseimage {
    height: 20rem;
    padding: 2rem
}

.houseinfo {
    display: flex;
    flex-direction: row;
}